:root {
    --color__black:                  #000000;
    --color__white:                  #FFFFFF;
    --color__dark_purple:            #2E093D;
    --color__purple:                 #3E1350;
    --color__red_poly:               #ef0404;
    --color__licorice:               #20071F;
    --color__blue:                   #0077c0;
    --color__silver:                 #7F8091;
    --color__ash_white:              #F6F6F6;
    --color__text_heading:           #F6F6F6;
    --color__secondary:              #c9c38b;
    // Font Family
    --font-primary : 'Dax';    
}    

